* {
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} 

.hero {
    height: 700px;
    background: #00d5e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    color: white;
}

.hero p {
    margin: 10px ;
    color: white;
}

button {
    padding: 10px;
    background: blue;
    color: white;
}
